<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ac.ict.menelaus.aiops.dal.impl.IPSDal">
	<resultMap id="IPSMap" type="IPS">
	  <id property="Id" column="id" />
	  <result property="Timestamp" column="timestampe"/>
	  <result property="RuleName" column="rule_name"/>
	  <result property="VulnerabilityId" column="vulnerability_id"/>
	  <result property="VulerabilityName" column="vulnerability_name"/>
	  <result property="SourceIp" column="source_ip"/>
	  <result property="SourcePort" column="source_port"/>
	  <result property="DestinationIp" column="destination_ip"/>
	  <result property="DestinationPort" column="destination_port"/>
	  <result property="Protocol" column="protocol"/>
	  <result property="AttackType" column="attack_type"/>
	  <result property="Severity" column="severity"/>
	  <result property="SystemAction" column="system_action"/>
	</resultMap>
	
	<select id="selectByPage" resultMap="IPSMap" parameterType="java.util.Map">
		select * from IPS where
		<if test="StartDate != null">
			timestamp > #{StartDate,jdbcType=DATE} and
		</if>
		<if test="EndDate != null">
			timestamp > #{StartDate,jdbcType=DATE} and
		</if>		
		 1=1 order by id;
	</select>

</mapper>